<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="com.symbol.datawedge.permission.SEND_SOFT_SCAN_TRIGGER" />
    <uses-permission android:name="com.symbol.datawedge.permission.SET_CONFIG" />
    <uses-permission android:name="com.symbol.datawedge.permission.REGISTER_FOR_NOTIFICATION" />
    <uses-permission android:name="com.symbol.datawedge.permission.UNREGISTER_FOR_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:name=".GoStockApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/full_backup_content"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoStock"
        tools:targetApi="31">
        <activity
            android:name=".BluetoothTransferAllBatchActivity"
            android:exported="false" />
        <activity
            android:name=".TransferAllBatchActivity"
            android:exported="false" />
        <activity
            android:name=".BatchEntryListActivity"
            android:exported="false" />
        <activity
            android:name=".BatchListActivity"
            android:exported="false" />
        <activity
            android:name=".GoDataListActivity"
            android:exported="false" />
        <activity
            android:name=".BluetoothTransferSubActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GoStock" />
        <activity
            android:name=".TransferDataActivity"
            android:exported="false" />
        <activity
            android:name=".SubActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.gostock.ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecordListActivity"
            android:exported="false" />
        <activity
            android:name=".EditRecordActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".BarcodeScannerActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".UserManagementActivity"
            android:exported="false" />
        <activity
            android:name=".AddEditUserActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
    </application>

</manifest>